{{ template "head" }}
{{ template "title" "Users" }}


<main id="user-list-page" class="container">
  <article class="user-list">
    <header>
      <hgroup>
        <h2>QR Codes</h2>
        <p>List of users and their QR codes</p>
      </hgroup>

      <aside class="button-container">
        <a href="/users/qr_codes.zip" role="button" title="Export all QR codes">
          {{ template "materialIcon" "qr_code" }} Export all QR codes
          <code>.zip</code>
        </a>

        <a href="/users/add" role="button" title="Add User">
          {{ template "materialIcon" "add" }} Add user
        </a>
      </aside>
    </header>

    <input
      type="search"
      id="user-search"
      disabled
      placeholder="Search users"
      data-search="#user-list .user"
      data-search-selectors=".name, .email"
    />

    <ul id="user-list" class="list-box button-list">
      {{ range .Users }}
        <li class="user" id="{{ .Email }}">
          <a href="/users/{{ .Email }}/qr.png" role="button" title="Show user's QR">
            <h3 class="name">{{ .Name }}</h3>
            <p class="email">{{ .Email }}</p>
          </a>
        </li>
      {{ else }}
        <i class="placeholder">No users imported.</i>
      {{ end }}
    </ul>
  </article>
</main>

<style>
  article header a[role="button"] {
    line-height: 0;
    padding: 0.5em;
  }

  a[role="button"] code {
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--pico-color);
  }

  #user-list.button-list .name {
    margin-bottom: 0.25em;
  }
</style>

<script type="module" async defer>
  import { updateSearch } from "/search.js";

  const hash = window.location.hash;
  if (hash) {
    const search = document.getElementById("user-search");
    search.value = hash.slice(1);
    updateSearch(search);
  }
</script>
